@import "~@csstools/normalize.css";

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Bold.ttf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.controls {
  position: absolute;
  right: 50px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.controls__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: #b8ae04;
  color: #fff;
  font-size: 20px;
  width: 2em;
  height: 2em;
  user-select: none;
}

.controls__button:active {
  background-color: #e5da1f;
}

.controls__button:last-of-type {
  margin-top: 15px;
}
